body {
    font-family: serif;
    background: SeaShell;
}

a {
    color: #464444;
    font-size: 24px;
}

#titre {
    font-size: 56px;
    text-decoration: none;
    font-style: bold;
    font-family: serif;
}

h1 {
    margin: 10px;
    font-size: 42px;
    text-align: right;
}

h2 {
    margin: 10px;
    font-size: 32px;
}

h3, h4 {
    margin: 10px;
    font-size: 26px;
}

p, ul, il {
    margin: 20px;
    font-size: 24px;
    font-family: math;
}

header {
    border-style: solid;
    background-color: MistyRose;
    color: #000000;
    text-align: center;
}

footer {
    clear: both;
    font-style: italic;
    padding: 10px;
    background-color: MistyRose;
    text-align: right;
        color: #000000;
    border-style: solid;
}

#container {
    background-color: OldLace;
    margin-left: auto;
    margin-right: auto;
    color: #aaaaaa;
    max-width: 850px;
    margin-top: 5%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 0% 0% 0% 0%;
}

#main {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-style: solid;
    background-color: OldLace;
    color: #000000;
}



.extenso-item {
    text-decoration: none;
}

code {
font-size: 20px;}

pre{
margin: 0 0 0 50;
 white-space: pre-wrap;
 word-wrap: break-word;       
}

